.tab-writer-top-menu {
    margin-bottom: 5px;
    border-top: 1px solid $border-color;
    overflow: auto;
    height: 60px;
}

.tab-writer-button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size:30px;
        img {
            width:50px;
            height: 50px;
            margin: 4px 2px
        }
        img:hover {
            width: 54px;
            height: 54px;
            margin: 0px 0px
        }
}


.open-sidebar-button {
    display: none
}

@media (max-width: 800px) {
    .open-sidebar-button {
        display: inline-block
    }
}
