.menu {
    width           : 100vw;
    background-color: rgba(255, 255, 255, 0.7) !important;
    border          : none !important;

    li {
        font-size: 17px;
        padding  : 0px;
        border   : none !important;
    }

    a {
        padding: 0px 20px;
        margin : 0px 3px;
    }

    .active-menu-item {
        border-bottom: 2px solid $menu-active-color;
    }
    
    .logo {
        height: $navbar-height;
    }
}