.ant-modal-content{
    .paste-tabs-button {
        margin: 10px auto !important;
        display: block !important;
    }
    
    label.ant-radio-button-wrapper {
        width: 33% !important;
        text-align: center;
    }
    
    .ant-radio-group.ant-radio-group-outline {
        width: 100%;
        margin-top: 20px;
    }
}