.row-section-select {
    div {
        border: none !important;
        background-color: transparent !important;
        outline: none
    }
}
.ant-select-focused {
    div:focus {
        box-shadow: none;
        outline: none;
    }
}

.lyrics-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-left: 15px;
}