.row-section-select {
    div {
        border: none !important;
        background-color: transparent !important;
        outline: none;
    }
}
.ant-select-focused {
    div:focus {
        box-shadow: none;
        outline: none;
    }
}

.row-section-input {
    width: min-content;
    background-color: transparent;
    font-size: 15px;
    border: none;
    outline: none;
}