.tab-writer-root {
    height: 100%;
    .ant-row {
        height: calc(100% - 113px);
    }
    .tab-writer-rows-container {
        overflow: auto;
        white-space: nowrap;
        height: 100% !important;
        background-color: #F9F9EA;
        outline: none;
    }
    .tab-writer-row {
        font-family: 'Courier New', Courier, monospace;
        line-height: 17px;
        margin-left: 5px;
        
        .selected {
            border: 1px solid red;
        }
        .played {
            background-color: #BFD7B5;
        }
    }
}
